@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --button-colorHover : #FFBCBC;
    --button-color : #F38BA0;
    --main-leftColor : #e0fafa;
    --task-background : #B5EAEA;
    --header-table : #e0fafa;
    /* --button-color : #F38BA0;
    --main-leftColor : #E3F4F4;
    --task-background : #C4DFDF;
    --header-table : #D2E9E9; */
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Bitter, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

button {
    padding: 5px;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
}

input {
    border-radius: 5px;
    border: 0;
    padding: 5px;
}

select {
    border-radius: 5px;
    border: 0;
    padding: 5px;
    max-width: 200px; 
    overflow: hidden; 
}

textarea {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 5px;
}

label {
    font-size: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #EDF6E5;
    min-height: 100vh;
    width: 100%;
    line-height: 1.5;
}

.main {
    display: flex;
    min-height: 100vh;
}

.main  div {
    padding: 15px;
}

.main__left {
    background-color: var(--main-leftColor);
    width: 20%;    

}

.left__header {
    height: 5%;
    position: fixed;
} 

.left__content {
    display: flex;
    flex-direction: column;
    gap:20px;
    min-height: 90%;
    align-items: center;    
    position: fixed;
    top: 70px;
}

/*      TASK    BUTTONS    */

.content__addTask {
    border: 0;
    border-radius: 15px;
    background-color: var(--task-background);
    display: flex;
    flex-direction: column;
}

.content__addTask input, select {
    margin-bottom: 15px;
}

.button__addTask{
    border-radius: 10px;
    border: 0px;
    color: white;
    transition: .2s linear;
    background: var(--button-color);
    width: 70%;
    padding: 10px;
    margin: 5px auto 0 auto;
}
    
.button__addTask:hover {
    font-weight: 700;
    color: black;
    background-color: var(--button-colorHover);
    transform: scale(1.1);
    transition: 0.5s;
}

/*      projekt      buttons      */

.button__createProjekt{
    border-radius: 10px;
    border: 0px;
    color: white;
    transition: .2s linear;
    background: var(--button-color);
    padding: 10px;
    width: 100px;
    margin: 0 auto;
}
    
.button__createProjekt:hover {
    transform: scale(1.1);
    transition: 0.4s;
    font-weight: 700;
    color: black;
    width: 100%;
    width: 100px;
}

.editProjectButtonsArea {
    display: flex;
    justify-content: space-between;
}

.button__saveProjektChanges{
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #1b1b1b;
    padding: 10px;
    width: 100px;
}
    
.button__saveProjektChanges:hover {
    color: white;
    width: 100%;
    width: 100px;
    transform: scale(1.1);
    transition: 0.4s;
}

.button__deleteProjekt{
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #c00303;
    padding: 10px;
    width: 100px;
}
    
.button__deleteProjekt:hover {
    width: 100%;
    width: 100px;
    transform: scale(1.1);
    transition: 0.4s;
}

/*      right    section    */

.main__right {
    background-color: #F8F6F4; 
    width: 100%;
}

.right__header {
    height: 5%;
} 

.filter {
    display: flex;
    gap: 10px;
    background-color: var(--task-background);
    border-radius: 5px;
}

.filter button {
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    transition: 0.5s ease;
}

.filter button:hover {
    color: black;
    font-weight: 700;
    transform: scale(1.1);
    transition: 0.5s ease;
}

.filter__active{
    background-color: #F38BA0;
    font-weight: 600;
    color: white;
} 

.projektTable {
    width: 100%;
    border: 1px solid #B5EAEA;
    border-radius: 0 0 5px 5px;
    padding: 5px;
    border-spacing: 3px 3px;
}
table td {
    padding: 5px;
}

th:nth-child(2) { width: 30%; }
th:nth-child(3) { width: 40%; }
th:nth-child(5) { width: 15%; }
th:nth-child(6) { width: 2%; }
th:nth-child(7) { width: 2%; }

.projektTable .projektTable__header {
    background-color: var(--header-table);
    border-radius: 5px 5px 0 0;
    padding: 5px;
}

.projektTable th {
    text-align: left;
}

.taskNameHeader {
    width:200px;
}

.taskDescHeader {
    width:250px;
}

.projektTable tr:nth-child(even) {
    background-color: var(--main-leftColor)
}

.completed {
text-decoration: line-through;
}

.button__taskDelete {
    background: url('/img/delete-forever.svg') no-repeat center;
    width: 50px;
    border: 0;
    display: inline-flex; /* Чтобы содержимое не смещалось */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.button__taskDelete:hover {
    background: url('/img/delete-forever.svg') no-repeat center;
    transform: scale(1.3);
}


.button__taskEdit {
    background: url('/img/pencil.svg') no-repeat center;
    width: 50px;
    border: 0; 
    display: inline-flex; /* Чтобы содержимое не смещалось */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.button__taskEdit:hover {
    background: url('/img/pencil.svg') no-repeat center;
    transform: scale(1.3);
}

.button__projektEdit {
    background: url('/img/pencil.svg') no-repeat center;
    width: 50px;
    border: 0; 
    display: inline-flex; /* Чтобы содержимое не смещалось */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.button__projektEdit:hover {
    background: url('/img/pencil.svg') no-repeat center;
    transform: scale(1.3);
}

.button__taskPriority {
    background: url('/img/flag.svg') no-repeat center;
    width: 50px;
    border: 0; 
    display: inline-flex; /* Чтобы содержимое не смещалось */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.button__taskPriority:hover {
    background: url('/img/flag.svg') no-repeat center;
    transform: scale(1.3);
}

.wichtig {
    background: url('/img/flag-rot.svg') no-repeat center;
    width: 50px;
    border: 0; 
    display: inline-flex; /* Чтобы содержимое не смещалось */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.wichtig:hover {
    background: url('/img/flag-rot.svg') no-repeat center;
    transform: scale(1.3);
}


/* modal Fenster */

.modal {
    font-family: "Calibri";
    position: fixed;
    display: none;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal .modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
    z-index: 999;
    border-radius: 15px;
    text-align: justify;
}

.modal .modal_content .close_modal_fenster { 
    color: #1e1d1d;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.modal_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px; height: 2rem;
}

.modal_title {
    font-size: 1.5rem;
    font-weight: 700;
}